* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.secret-tips {
  width: 100%;
  background-color: #f9f9f7;
  padding: 80px 0;
}

.tips-container {
  width: 85%;
  margin: auto;
}

.tips-container h1 {
  text-align: center;
  font-size: 60px;
  font-weight: 500;
  line-height: 75px;
  color: #2c2c2c;
  margin-bottom: 50px;
  font-family: Georgia, "Times New Roman", serif;
}

.image-box {
  width: 100%;
  margin: 40px 0;
  overflow: hidden;
}

.image-box img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 12px;
  object-fit: cover;
}


.content-box {
  margin: 50px 0;
}

.content-box h2 {
  font-size: 32px;
  font-weight: 700;
  color: #2c2c2c;
  margin-bottom: 20px;
}

.content-box p {
  font-size: 18px;
  color: #555;
  line-height: 32px;
  margin-bottom: 25px;
}

.content-box ol {
  padding-left: 20px;
}

.content-box ol li {
  font-size: 18px;
  color: #444;
  line-height: 32px;
  margin-bottom: 15px;
}

.content-box ol li strong {
  color: #222;
}

/* Tablet */
@media (max-width: 992px) {
  .tips-container h1 {
    font-size: 45px;
    line-height: 60px;
  }

  .content-box h2 {
    font-size: 28px;
  }

  .content-box p,
  .content-box ol li {
    font-size: 16px;
    line-height: 28px;
  }
}

/* Mobile */
@media (max-width: 576px) {

  .secret-tips {
    padding: 50px 0;
  }

  .tips-container {
    width: 92%;
  }

  .tips-container h1 {
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 30px;
  }

  .content-box h2 {
    font-size: 24px;
  }

  .content-box p,
  .content-box ol li {
    font-size: 15px;
    line-height: 26px;
  }

  

  .image-box {
    width: 100%;
    margin: 20px 0;
  }

  .image-box img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 8px;
  }


}